/* list of my colors as variables */
$clr-light-primary: #F8F5F2;
$clr-light-secondary: #FFFFFE;

$clr-dark-primary: #232323;
$clr-dark-secondary: #222525;

$clr-accent-primary: #078080;
$clr-accent-secondary: #F45D48;