#contact {
    margin-top: 4rem;
}

.contact__thanks {
    margin-bottom: 1rem;
}

#github__contact, #linkedin__contact {
    transform: scale(2);
    width: 2rem;
    margin-left: 1.5rem;
    margin-top: .5rem;
}